.trapezoid {
    border-bottom: 30px solid orange;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    height: 0;
    width: 80%;
    filter: drop-shadow(1px 50px 57px #fff);
    -webkit-filter: drop-shadow(1px 50px 57px #fff);
    -moz-filter: drop-shadow(1px 50px 57px #fff);
}
